.header h1{
    text-align: center;
    padding: 20px 0px;
    margin: 10px auto;
    color: var(--secondary);
    font-weight: 700;
}
.allShareig{
  order: 1;
  padding: 1rem;
  width: 100%;
}
/* ---------------------card_style------------ ----*/
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    filter: grayscale(50%);
  }  
  a {
    background-color: var(--last);
    transition: transform 0.3s ease;
    color: whitesmoke;
  }
  
  a:hover {
    transform: scale(1.05);
    color: whitesmoke;
    background-color: var(--secondary);
  }
  
  h5 {
    color: var(--last);
  }
  
  button {
    transition: all 0.3s ease-in-out;
    background-color: var(--last);
    color: whitesmoke;

  }
  
  button:hover {
    transform: scale(1.1);
    color: whitesmoke;
    background-color: var(--secondary);
  }
  .card-img-top {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
}
.card{
	cursor: pointer;
}
.bg-healthy {
  background-color: #e0f7e9; 
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.card-text {
  font-size: 0.9rem;
}

.badge.bg-success {
  background-color: #28a745; 
  /* padding: 0.4em 0.75em; */
  font-size: 0.85rem;
  font-weight: 500;
  border-radius: 0.25rem;
}