.parent{
    padding-top: 5.5%;
    margin-top: 6.9%;
    /* background-color: var(--background); */
    position: relative;
    z-index: 1;
    height: fit-content;
}
.header h1{
    color: var(--white);
}
.shar-content{
    animation: anmation-form 2s;
}
.header::before{
    content: "";
    width: 58%;
    height: 50rem;
    position: absolute;
    z-index: -1;
    top: -23%;
    left: -3%;
    border-radius: 0% 100% 100% 0% / 30% 0% 100% 70%; 
    background: linear-gradient(270deg, var(--last) 9%, var(--dark) 93%);
    animation: anmation-heder 2s;
}
form{
    background-color: var(--white);
}
.form label{
    color: var(--secondary);
}
.form input{
   background-color: var(--white);
}
input[type=text]{
    padding: 8px 20px;
    color: var(--black);
    font-size: large;
}
input[type=file]{
    color: var(--black);
    background-color: transparent;
}
input[type=file]::file-selector-button{
    background-color: var(--white);
    color: var(--black);
}
.mybtn{
    background-color: var(--last);
    margin: 6%;
    color: var(--white);
    transition: 0.5s all;
}
.addbtn{
    font-size: 40px;
    padding: 0px;
    background-color: transparent;
    color: var(--secondary);
    cursor: pointer;
    transition: 0.5s all;
}
.addbtn:hover{
    transform: rotate(90deg);
    color: var(--dark);
}
.mybtn:hover{
    background-color: var(--secondary);
    transform: scale(1.03);
}

/* ---------------------card_style------------ ----*/
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    filter: grayscale(50%);
  }
  /* h1 {
    background: linear-gradient(19deg, var(--primary) 0%,var(--dark) 100%);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
    margin-top: 100px;
  } */
  
  a {
    background-color: var(--last);
    transition: transform 0.3s ease;
    color: whitesmoke;
  }
  
  a:hover {
    transform: scale(1.05);
    color: whitesmoke;
    background-color: var(--secondary);
  }
  
  h5 {
    color: var(--last);
  }
  
  button {
    transition: all 0.3s ease-in-out;
    background-color: var(--last);
    color: whitesmoke;

  }
  
  button:hover {
    transform: scale(1.1);
    color: whitesmoke;
    background-color: var(--secondary);
  }
  .card-img-top {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
}
.card{
	cursor: pointer;
}
.bg-healthy {
  background-color: #e0f7e9; 
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.card-text {
  font-size: 0.9rem;
}

.badge.bg-success {
  background-color: #28a745; 
  padding: 0.4em 0.75em;
  font-size: 0.85rem;
  font-weight: 500;
  border-radius: 0.25rem;
}

@keyframes anmation-heder {
    0%{
        transform: translatex(-60%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes anmation-form {
    0%{
        transform: translateY(-20%);
    }
    100%{
        transform: translateY(0%);
    }
}

@media (min-width : 280px) and (max-width : 767px){
    .header::before{
        height: 44%;
        width: 75%;
    }
    .parent{
        margin-top: 28%;
    }
}

