.parent{
    padding-top: 5.5%;
    margin-top: 6.9%;
    /* background-color: var(--background); */
    position: relative;
    z-index: 1;
    height: fit-content;
}
.header h1{
    color: var(--white);
}
.shar-content{
    animation: anmation-form 2s;
}
.header::before{
    content: "";
    width: 58%;
    height: 50rem;
    position: absolute;
    z-index: -1;
    top: -23%;
    left: -3%;
    border-radius: 0% 100% 100% 0% / 30% 0% 100% 70%; 
    background: linear-gradient(270deg, var(--last) 9%, var(--dark) 93%);
    animation: anmation-heder 2s;
}
form{
    background-color: var(--white);
}
.form label{
    color: var(--secondary);
}
.form input{
   background-color: var(--white);
}
input[type=text]{
    padding: 8px 20px;
    color: var(--black);
    font-size: large;
}
input[type=file]{
    color: var(--black);
    background-color: transparent;
}
input[type=file]::file-selector-button{
    background-color: var(--white);
    color: var(--black);
}
.mybtn{
    background-color: var(--last);
    margin: 6%;
    color: var(--white);
    transition: 0.5s all;
}
.addbtn{
    font-size: 40px;
    padding: 0px;
    background-color: transparent;
    color: var(--secondary);
    cursor: pointer;
    transition: 0.5s all;
}
.addbtn:hover{
    transform: rotate(90deg);
    color: var(--dark);
}
.mybtn:hover{
    background-color: var(--secondary);
    transform: scale(1.03);
}

@keyframes anmation-heder {
    0%{
        transform: translatex(-60%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes anmation-form {
    0%{
        transform: translateY(-20%);
    }
    100%{
        transform: translateY(0%);
    }
}

@media (min-width : 280px) and (max-width : 767px){
    .header::before{
        height: 44%;
        width: 75%;
    }
    .parent{
        margin-top: 28%;
    }
}

