<div class="parent">
    <div class="container">
      <div class="text-capitalize header">
        <h1>share recipe</h1>
      </div>
        <div class="row justify-content-center shar-content">
            <div class="col-lg-7 col-md-11 col-sm-12">
              <form class="form shadow p-5 mb-5 rounded" #shereform="ngForm" (ngSubmit)="share(shereform,name.value,category.value,image.value,rating.value)">
                <div class="mb-3">
                  <label for="name" class="col-form-label-lg fs-3">Recipe title</label>
                  <input type="text" class="form-control rounded-pill" ngModel #name name="name" id="name" aria-describedby="emailHelp" required>
                </div>

                <div class="mb-3">
                  <label for="category" class="col-form-label-lg fs-3">Recipe category</label>
                  <input type="text" class="form-control rounded-pill" ngModel #category name="category" id="category" required>
                </div>
                
                <div class="row align-items-center">
                  <label for="Ingredients" class="col-form-label-lg fs-3">Ingredients</label>
                  <div>
                    @for (item of ingredientsArr; track $index) {
                      <p class="text-black-50 fs-5">{{item.name}} : {{item.quantity}}</p>
                    }
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <input type="text" class="form-control p-2 rounded-pill" ngModel #Ingredientname name="Ingredientname" id="Ingredients" placeholder="Name">
                  </div>
                  <div class="col-sm-12 col-lg-5">
                    <input type="text" class="form-control p-2 rounded-pill" ngModel #quantity name="quantity" id="Ingredients" placeholder="Quantity">
                  </div>
                  <div class="col-sm-12 col-lg-1">
                    <i class="fa-sharp fa-solid fa-plus addbtn" (click)="addIngredient(Ingredientname.value , quantity.value)"></i> 
                  </div>
                </div>
                 
                <div class="mb-3 row">
                  <label for="Instructions" class="col-form-label-lg fs-3">Instructions</label>
                  <div>
                    @for (item of instructionsArr; track $index) {
                      <p class="text-black-50 fs-5"> * {{item}}</p>
                    }
                  </div>
                  <div class="col-sm-12 col-lg-11">
                    <input type="text" class="form-control rounded-pill" ngModel #Instruction name="instructions" id="Instructions" required>
                  </div>
                  <div class="col-sm-12 col-lg-1">
                    <i class="fa-sharp fa-solid fa-plus addbtn" (click)="addInstruction(Instruction.value)"></i> 
                  </div>
                </div>

                <div class="mb-3">
                  <label for="Uploadimg" class="col-form-label-lg fs-3">Upload img</label>
                  <input type="text" class="form-control rounded-pill" ngModel #image id="Uploadimg" name="image" placeholder="URL">
                </div>

                <div class="mb-3">
                  <label for="Rating" class="col-form-label-lg fs-3">Rating</label>
                  <input type="text" class="form-control rounded-pill" id="Rating" ngModel #rating="ngModel" name="rating" pattern="^[0-5]$" placeholder="1 To 5">
                  <p style="color: red;" *ngIf="rating.touched && rating.errors?.['pattern']">Rating must be between 1 to 5</p>
                </div>
                <button type="submit"  class="btn mybtn fs-5">Add recipe</button>
              </form>
            </div>
        </div>
    </div>
</div>
