<div class="parent">
    <div class="container">
      <div class="text-capitalize header">
        <h1>share recipe</h1>
      </div>
        <div class="row justify-content-center shar-content">
            <div class="col-lg-6 col-md-10 col-sm-12">
              <form class="form shadow p-3 mb-5 rounded">
                <div class="mb-3">
                  <label for="exampleInput" class="col-form-label-lg fs-4">Recipe title</label>
                  <input type="text" class="form-control rounded-pill" id="exampleInput" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                  <label for="exampleInput1" class="col-form-label-lg fs-4">Recipe category</label>
                  <input type="text" class="form-control rounded-pill" id="exampleInput1" required>
                </div>
                <div class="mb-3">
                  <label for="exampleInput2" class="col-form-label-lg fs-4">Ingredients</label>
                  <input type="text" class="form-control rounded-pill" id="exampleInput2" required>
                </div>
                <div class="mb-3">
                  <label for="exampleInput3" class="col-form-label-lg fs-4">Instructions</label>
                  <input type="text" class="form-control rounded-pill" id="exampleInput3" required>
                </div>
                <div class="row">
                  <label for="exampleInput4" class="col-form-label-lg fs-4">Upload img</label>
                  <div class="col-sm-12 col-lg-6">
                    <input type="file" class="form-control p-2 rounded-pill" id="exampleInput4">
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <input type="text" class="form-control p-2 rounded-pill" id="exampleInput4" placeholder="URL">
                  </div>
                </div>
                <button type="submit" class="btn mybtn fs-5">Add recipe</button>
              </form>
            </div>
        </div>
    </div>
</div>
