<div class="team">
    <div class="textContainer">
        <h1 class="meetTeam">Meet Our Team</h1>
        <p class="description">
            Cras mattis consectetur purus sit amet fermentum. 
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        </p>
    </div>
    <div class="imagesContainer">
        <div class="imgContainer">
            <div class="jawad">
                <img src="jawad.jpg" alt="image">
            </div>
            <div class="body">
                <h2>Jawad Tamer</h2>
                <p class="developer">FrontEnd Developer</p>
                <div class="social-media">
                    <a href="https://www.facebook.com/profile.php?id=100086256496924&mibextid=qi2Omg&rdid=vtFbJfLkTpmrqpW0&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2FgSYt8oBMpwVLd3jL%2F%3Fmibextid%3Dqi2Omg" target="_blank" class="social-icon">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/jawad-tamer-a2a720292/" target="_blank" class="social-icon">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </div>
            </div>
        </div>    

        <div class="imgContainer">    
            <div class="tarek">
                <img src="tarek.jpg" alt="image">
            </div>
            <div class="body">
                <h2>Tarek Goda</h2>
                <p class="developer">FrontEnd Developer</p>
                <div class="social-media">
                    <a href="https://www.facebook.com/tarek.goda.3998" target="_blank" class="social-icon">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/tarek-goda-763205249/" target="_blank" class="social-icon">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="imgContainer">
            <div class="shehab">
                <img src="shehab.jpg" alt="image">
            </div>
            <div class="body">
                <h2>Shehab Khaled</h2>
                <p class="developer">FrontEnd Developer</p>
                <div class="social-media">
                    <a href="https://www.facebook.com/profile.php?id=100015282278119&mibextid=ZbWKwL" target="_blank" class="social-icon">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/shehab-khaled-329b192b6/" target="_blank" class="social-icon">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="imgContainer">
            <div class="aya">
                <img src="aya.jpg" alt="image">
            </div>
            <div class="body">
                <h2>Aya Yasser</h2>
                <p class="developer">FrontEnd Developer</p>
                <div class="social-media">
                    <a href="https://facebook.com" target="_blank" class="social-icon">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://linkedin-in.com" target="_blank" class="social-icon">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </div>
            </div>
        </div>

        <div class="imgContainer">
            <div class="saja">
                <img src="saja.jpg" alt="image">
            </div>
            <div class="body">
                <h2>Saja Malek</h2>
                <p class="developer">FrontEnd Developer</p>
                <div class="social-media">
                    <a href="https://www.facebook.com/saga.malek.92" target="_blank" class="social-icon">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/saja-malek/" target="_blank" class="social-icon">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
