<div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 content">
        <h1>All the recipes you need.</h1>
        <p>
            Discover a wide range of delicious, easy-to-follow recipes tailored to suit every taste and occasion. Whether you're a beginner or a seasoned chef, our collection has everything you need to create mouthwatering dishes at home. Join us and start cooking with confidence today!
        </p>
        <div class="buttons">
          <button class="btn btn-primary" routerLink="signup">Join us now</button>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 logo">
        <ng-lottie [options]="logo"></ng-lottie>
      </div>
    </div>
  </div>
  