/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1px;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
  body{
    background-color: rgb(249, 249, 241);
  }

:root{
  --primary: #90E0EF;
  --secondary: #0077B6;
  --last:#0096C7;
  --dark: #03045E;
  --white:#fff;
  --background:rgb(249, 249, 241);
  --black: black;
}
.dark-mode {
  background-color: rgb(30, 30, 30); 

  --primary: #4dc0e8; 
  --secondary: #0085ca; 
  --last: #0096c7;
  --dark: #1a1a1a; 
  --white: rgb(240, 240, 240);
  --black: #fff; 
}

html {
  scrollbar-color:var(--secondary) var(--primary);
  scrollbar-width: auto; 
}
