<nav class="navbar">
  <div class="title col-6">
    <div class="logo">
      <ng-lottie [options]="logo"></ng-lottie>
    </div>
    <h1>Recipe Sharing</h1>
  </div>

  <div class="nav-controls">
    <div class="darkmode" (click)="toggleMode()">
      <i class="fa-solid" [ngClass]="isDarkMode ? 'fa-sun' : 'fa-moon'"></i>
    </div>

    <div class="navicon" (click)="toggle()">
      <i class="fa-solid fa-bars"></i>
    </div>
  </div>

  <div class="navbarlink">
    <ul class="d-flex flex-column flex-lg-row">
      <li class="navitem" routerLink="home" routerLinkActive="link-active">
        Home
      </li>
      <li class="navitem" routerLink="recipes" routerLinkActive="link-active">
        Recipes
      </li>
      <li class="navitem" routerLink="favorites" routerLinkActive="link-active">
        Favorites
      </li>
      <li class="navitem" routerLink="sharing" routerLinkActive="link-active">
        Share recipe
      </li>
      <li class="navitem" routerLink="about" routerLinkActive="link-active">
        About us
      </li>
      <li class="navitem" routerLink="users-list" routerLinkActive="link-active">
        <i class="fa-solid fa-users"></i>
      </li>
      <li class="navitem" routerLink="user" routerLinkActive="link-active">
        <i class="fa-solid fa-circle-user"></i>
      </li>
    </ul>
  </div>
</nav>
